DROP FUNCTION IF EXISTS get_locked_seasons(UUID, TEXT[]);

CREATE OR REPLACE FUNCTION get_locked_seasons(p_user_id UUID, p_season_ids TEXT[])
RETURNS TABLE (
    season_id TEXT,
    required_season_name TEXT,
    required_franchise_name TEXT
) AS $body
BEGIN
    RETURN QUERY
    WITH season_reqs AS (
        SELECT 
            sr.season_id as target_season,
            s_req.name as req_name,
            f_req.name as req_franchise_name,
            COALESCE(
                (SELECT bool_and(up.id IS NOT NULL)
                 FROM episodes e
                 LEFT JOIN user_progress up ON e.id = up.episode_id AND up.user_id = p_user_id
                 WHERE e.season_id = sr.required_season_id), 
                false
            ) as is_req_watched
        FROM season_requirements sr
        JOIN seasons s_req ON sr.required_season_id = s_req.id
        JOIN franchises f_req ON s_req.franchise_id = f_req.id
        WHERE sr.season_id = ANY(p_season_ids)
    )
    SELECT 
        target_season,
        req_name,
        req_franchise_name
    FROM season_reqs
    WHERE is_req_watched = false;
END;
$body LANGUAGE plpgsql SECURITY DEFINER;

NOTIFY pgrst, 'reload schema';
